@import "./theme.css";
@import "tailwindcss";

@custom-variant hover (&:hover);



/* theme based base styling */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }

  h1 {
    @apply lg:text-7xl sm:text-5xl text-3xl font-black leading-tight;
  }

  h2 {
    @apply lg:text-4xl sm:text-3xl text-2xl font-bold;
  }

  h3 {
    @apply lg:text-3xl sm:text-2xl text-xl font-semibold;
  }

  h4 {
    @apply lg:text-2xl sm:text-xl text-lg font-semibold;
  }

  h5 {
    @apply sm:text-xl text-base font-semibold;
  }

  h6 {
    @apply sm:text-lg text-base font-semibold;
  }

  p {
    @apply text-sm sm:text-base font-normal text-(--primary-p-color);
  }

  a {
    @apply md:text-base text-sm;
  }

  .header-fixed {
    @apply fixed top-0 left-0 right-0 z-999 backdrop-blur-sm shadow-md animate-fadeInDown;
  }

  html {
    @apply scroll-smooth h-full w-full;
  }

  body {
    @apply bg-(--dark-color) text-(--primary-p-color) text-base font-normal font-secondary leading-normal m-0 p-0 [-webkit-text-size-adjust:100%] overflow-x-hidden;
  }
}


/* custom components classes */
@layer components {
  /* .gradient-text {
    @apply bg-clip-text text-transparent bg-[linear-gradient(45deg,var(--secondary-color)_15%,var(--primary-color)_65%)];
  } */
 
  .gradient-text {
    @apply bg-clip-text text-transparent [background-image:var(--theme-gradient)];
  }

  .link-underline {
    @apply relative inline-block no-underline
    after:content-[''] after:absolute after:left-0 after:bottom-0
    after:w-full after:h-0.5 after:bg-(--primary-color)
    after:scale-x-0 after:origin-bottom-right
    after:transition-transform after:duration-200 after:ease-out
    hover:after:scale-x-100 hover:after:origin-bottom-left;
  }
/* border-(--primary-color) border-solid */
  .btn {
    @apply inline-flex items-center content-center  shrink-0 pointer-events-auto select-none;
  }

  .primary-btn {
    @apply px-6 py-3 bg-(--dark-color) text-(--white-color) hover:[background:var(--theme-gradient)] font-semibold transition-colors duration-300 ease-in-out z-2
    before:content-[""] before:absolute before:inset-0 before:[background:var(--theme-gradient)] before:-z-1
    after:content-[""] after:absolute after:bottom-0 after:right-0 after:top-0.5 after:left-0.5 after:w-[calc(100%-4px)] after:h-[calc(100%-4px)] after:bg-inherit after:-z-1;
  }

  .social-btn {
    @apply bg-(--white-color) text-(--dark-color) p-2 rounded-full hover:bg-(--primary-color) hover:text-(--white-color) transition-colors;
  }

  .card {
    @apply bg-(--dark-grey-color) p-8 backdrop-blur-sm hover:shadow-xl shadow;
  }
}



/* custom utility classes */
@layer utilities {
  .animation-fill-both {
    animation-fill-mode: both;
  }

}
