@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap");

@theme static {
  /* dark mode */
  /* Colors */
  --primary-color: #ff1e00;
  --secondary-color: #f77640;
  --dark-color: #040402;
  --dark-grey-color: #191919;
  --header-bg-color: #111111;
  --white-color: #f9f9f9;
  --primary-p-color: #8e8e8e;
  --primary-t-color: #f5f5f5;
  --danger-color: #e23f33;
  --success-color: #03b209;
  --warning-color: #ecb90d;
  --info-color: #2b89d1;

  /* gradient colors */
  --theme-gradient: linear-gradient( 45deg, var(--secondary-color) 15%, var(--primary-color) 65% );

  /* Typography */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Nunito", Helvetica, sans-serif;

  /* transition */
  --ease-smooth: cubic-bezier(0.25, 0.25, 0.75, 0.75);

  /* Keyframes */
  --animate-fadeInDown: fadeInDown 0.4s ease-out forwards;
  --animate-shimmer: shimmer 1.6s infinite;

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
